@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1d1f20;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body{
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #ff001f;
}
.css_days {
  width: 400px;
  height: 450px;
  border: none !important;
  margin: 0px 15px 30px 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.41);
}

.not_av {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-return {
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 4px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  cursor: pointer;
  transition: .3s;
}

.btn-return::after {
  content: '';
  width: 5px;
  height: 30px;
  background: #ff001f;
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translate(-50%, -50%) rotate(30deg);
}

.btn-return::before {
  content: '';
  width: 5px;
  height: 30px;
  background: #ff001f;
  position: absolute;
  top: 50%;
  left: 26px;
  transform: translate(-50%, -50%) rotate(-30deg);
}

.loader{
  width: 100%;
  height: 100%;
  background: #1d1f20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_1 {
  width: 30px;
  height: 30px;
  z-index: 3;
  background: #ff001f;
  position: absolute;
  border-radius: 50%;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  animation: circles_anim1 2s cubic-bezier(.21, .98, .6, .99) infinite alternate;
}

.circle_2 {
  width: 60px;
  height: 60px;
  z-index: 2;
  background: #ff001f;
  position: absolute;
  border-radius: 50%;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  animation: circles_anim2 2s cubic-bezier(.21, .98, .6, .99) infinite alternate;

}

.circle_3 {
  width: 90px;
  height: 90px;
  z-index: 1;
  background: #ff001f;
  position: absolute;
  border-radius: 50%;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  animation: circles_anim3 2s cubic-bezier(.21, .98, .6, .99) infinite alternate;

}

@keyframes circles_anim1 {

  0%,
  70% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes circles_anim2 {

  0%,
  40% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes circles_anim3 {

  0%,
  10% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
