@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.container {
  width: 400px;
  height: 400px;
  background: #1c1c1c;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.main_title {
  width: 150px;
  height: 100px;
}

.main_title p {
  color: inherit;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  margin: 20px 0 0 0;
  padding: 0;
}

.main_title p span {
  font-weight: 800;
  font-size: 25px;
}

.main {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.circle_big {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_big svg {
  width: 120px;
  height: 120px;
}

.circle_big .bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1B2A33;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 0;
}

.circle_big .progress {
  fill: none;
  stroke-width: 10px;
  stroke: #8342f4;
  stroke-linecap: round;
  stroke-dasharray: 326.56;
  stroke-dashoffset: 60;
  animation: big 1.5s ease-out both;
  transform: rotate(275deg) translate(-90%, 4%);
}

.circle_big .text {
  width: 70px;
  height: 40px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text_bg {
  font-size: 24px;
  position: absolute;
  top: -5px;
  font-weight: 600;
}

.text_sm {
  font-size: 13px;
  position: absolute;
  bottom: 0;
  color: #648192;
}

@keyframes big {
  from {
    stroke-dashoffset: 326.56;
  }

  to {
    stroke-dashoffset: 90;
  }
}

.circle_sm {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_sm svg {
  width: 80px;
  height: 80px;
}

.circle_sm .bg_sm {
  fill: none;
  stroke-width: 6px;
  stroke: #1B2A33;
}

.circle_sm .progress_sm {
  fill: none;
  stroke-dasharray: 300;
  stroke-dashoffset: 10;
  stroke-width: 6px;
  stroke: #41dcf4;
  stroke-linecap: round;
  transform: translate(0%, 100%) rotate(-90deg);
  animation: progress_sm 1s ease-out both;
}

.circle_sm .text {
  width: 50px;
  height: 30px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle_sm .text .text_bg {
  font-size: 17px;
}

.circle_sm .text .text_sm {
  font-size: 10px;
}

@keyframes progress_sm {
  0% {
    stroke-dashoffset: 300;
  }

  100% {
    stroke-dashoffset: 140;
  }
}
