@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  font-family: 'Open Sans', Helvetica, sans-serif;
  overflow: hidden;
}

.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_toggle {
  width: 50px;
  height: 30px;
  cursor: pointer;
  position: absolute;
}

.line {
  position: absolute;
  width: 50px;
  height: 4px;
  background: white;
}

.line:nth-child(1) {
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
}

.line:nth-child(2) {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.active_line_top {
  animation: lineTop 1s ease-in-out both;
}

.active_line_bottom {
  animation: lineBottom 1s ease-in-out both;
}

.close_top {
  animation: top_close 1s ease-in-out both;
}

.close_bottom {
  animation: bottom_close 1s ease-in-out both;
}

@keyframes lineTop {
  0% {
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50px;
  }

  20% {
    transform: translate(-50%, -40%);
    height: 4px;
    width: 50px;
  }

  40% {
    transform: translate(-50%, -10px);
    height: 2px;
    width: 50px;
  }

  100% {
    height: 2px;
    width: 250px;
    transform: translate(-50%, -20px);
  }
}

@keyframes lineBottom {
  0% {
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50px;
  }

  20% {
    transform: translate(-50%, -40%);
    height: 4px;
    width: 50px;
  }

  40% {
    transform: translate(-50%, 10px);
    height: 2px;
    width: 50px;
  }

  100% {
    height: 2px;
    width: 250px;
    transform: translate(-50%, 20px);
  }
}

@keyframes top_close {
  0% {
    transform: translate(-50%, -20px);
    height: 2px;
    width: 250px;
  }

  60% {
    transform: translate(-50%, -10px);
    height: 2px;
    width: 50px;
  }

  100% {
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50px;
  }
}

@keyframes bottom_close {
  0% {
    transform: translate(-50%, 20px);
    height: 2px;
    width: 250px;
  }

  60% {
    transform: translate(-50%, 10px);
    height: 2px;
    width: 50px;
  }

  100% {
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50px;
  }
}

.menu {
  width: 250px;
  height: 40px;
  position: absolute;
  top: 48.5%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  list-style: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

ul li:hover {
  transition: .3s;
  opacity: .6;
}

.acive_menu {
  transition: .3s;
  transition-delay: .7s;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}
