body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #7EC0EE;
  overflow: hidden;
}

.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.sun {
  width: 70px;
  height: 70px;
  background: #f9d71c;
  border-radius: 50%;
  position: absolute;
  left: 95px;
  top: 65px;
  z-index: 1;
}

.clouds {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0;
}

svg {
  z-index: 2;
}

.cloud-big {
  position: absolute;
  bottom: 0;
  right: -40px;
  animation: cloud_1 60s linear infinite both;
}

.cloud-medium {
  position: absolute;
  bottom: 80px;
  left: 45px;
  animation: cloud_2 60s linear infinite both;
}

.cloud-small {
  position: absolute;
  left: 147px;
  top: 85px;
  animation: cloud_3 60s linear infinite both;
}

@keyframes cloud_1 {
  0% {
    right: -40px;
  }

  100% {
    right: 400px;
  }
}

@keyframes cloud_2 {
  0% {
    left: 45px;
  }

  100% {
    left: -400px;
  }
}

@keyframes cloud_3 {
  0% {
    left: 147px;
  }

  100% {
    left: -400px;
  }
}
